.about-page {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Start from the top */
    align-items: center;
    min-height: 100vh;
    /* Ensures at least the viewport height */
    width: 100vw;
    overflow-y: auto;
    /* Enables vertical scrolling */
    position: relative;
}

.title-container {
    position: absolute;
    top: 2vh;
    left: 0;
    padding: 5rem;
}

.title {
    font-size: 5rem;
    background: linear-gradient(to right, #00c3cc, #4047eb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "League Spartan";
}

.sh-container {
    position: absolute;
    top: 25vh;
    left: 5vw;
}

.subheading {
    font-family: "Poppins";
    font-style: italic;
    font-size: .95rem;
    color: rgb(255, 255, 255);
    font-weight: 50;
}

.p-1-container {
    position: absolute;
    width: 50rem;
    left: 3vw;
    top: 27vh;
}

.p-1 {
    padding: 2rem;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
}

.break {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 1vh;
    background-color: rgb(167, 167, 167);
    z-index: 100;
    top: 75vh;
}

.navbar>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar>ul>li {
    display: inline-block;
    margin-right: 10vw;
    font-weight: bold;
    font-family: 'Poppins';
}

.navbar-container {
    
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    left: 22vw;
    position: absolute;
    top: 4vh;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.title2-container {
    position: absolute;
    top: 80vh;
    left: 0;
    padding: 5rem;
}

.title-2 {
    font-size: 3rem;
    background: linear-gradient(to right, rgb(96, 29, 151), rgb(105, 10, 214));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "League Spartan";
}

.stats {
    position: absolute;
    top: 85vh;
}

.n-1, .n-2,.n-3, .n-4 {
    font-size: 12rem;
}

.n-1-container {
    position:absolute;
    left:-45vw;
    top:-3vh;
}

.n-2-container {
    position:absolute;
    right:25vw;
    top:5vh;
}

.n-1{
    font-family: "Poppins";
    color:#ff66c4
}

.firstStat{
    position: absolute;
    left:-35vw;
    top: 30vh;
}

.fSsub{
    font-family: "Poppins";
    color:#ff66c4
}

.yet {
    position: absolute;
    left: -20vw;
    top: 40vh;
    font-size: 1.5rem;
    font-family: "Poppins";
}

.n-2 {
    position:absolute;
    left: 8vw;
    top: 37vh;
    font-family: "Poppins";
    color: #0abccb
}

.t-2 {
    position: absolute;
    left: 11vw;
    top: 68vh;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
    color: #0abccb

}

.andOut {
    position: absolute;
    left: 10vw;
    top: 80vh;
    font-size: 1.5rem;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.n-3 {
    position: absolute;
    left: 13vw;
    top: 87vh;
    font-size: 8rem;
    color: #5066f7;
    font-family: "Poppins";
}

.t-3 {
    position: absolute;
    left: 20vw;
    top: 108vh;
    font-family: "Poppins";
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows the container */
    color: #5066f7;
    font-family: "Poppins";
    
}

.n-4 {
    position: absolute;
    left: 30vw;
    top: 87vh;
    font-size: 8rem;
    color: #5066f7;
    font-family: "Poppins";
    
}

.t-4 {
    position: absolute;
    left: 37vw;
    top: 108vh;
    font-family: "Poppins";
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis; /* Adds ellipsis if text overflows the container */
    color: #5066f7;   
}

.sParagraph {
    position: absolute;
    justify-content: center;
    left: 2vw;
    top: 210vh;
    font-family: "Poppins";
    font-weight: 0;
    color: #ffffff;   
}

.OverviewSub {
    position:absolute;
    left:3vw;
    top:225vh;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 3rem;
}

.p3Container {
    position: absolute;
    width: 40rem;
    position:absolute;
    left:3vw;
    top:240vh;
}

.p3 {
    color: #ffffff;
    font-family: "Poppins"; 
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    
}

.MissionStatement {
    position:absolute;
    left:60vw;
    top:225vh;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 3rem;
}

.p4Container {
    position:absolute;
    width: 40rem;
    left:55vw;
    top:240vh;
}
.p4 {
    color: #ffffff;
    font-family: "Poppins"; 
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
}










