body {
    background-color: black;
    margin: 0;
}

.Session-page {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Start from the top */
    align-items: center;
    max-height: 1000vh;
    /* Ensures at least the viewport height */
    width: 100vw;
    overflow-y: auto;
    /* Enables vertical scrolling */
    position: absolute;
    overflow: visible;
}


.Chart {
    position: relative;
    width: 35vw;
    /* Allow the image to resize based on parent */
    max-width: 1000px;
    /* Ensure the image doesn't grow too large */
    height: auto;
    margin-top: 20vh;
    /* Apply movement */
    margin-left: 55vw;
}



.JeopardyCon {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
    margin-top: 100vh;
    margin-left: 130vw;
}

.Jeopardy {
    position: relative;
    width: 25vw;
    height: auto;

}

.WhiteBoardingCon {
    position: absolute;
    overflow: visible;
    width: 100%;
    margin-top: 130vh;
    margin-left: 130vw;  
    height: auto;
}

.Whiteboarding {
    position: relative;
    width: 25vw;
    /* Allow the image to resize based on parent */

    height: auto;
    
    /* Apply movement */
}

.MindsetCon {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
    margin-top: 175vh;
    margin-left: 15vw;
}

.Mindset {
    position: relative;
    width: 25vw;
    /* Allow the image to resize based on parent */

    height: auto;
    
    /* Apply movement */
}

.ScholarshipCon {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
    margin-top: 180vh;
    margin-left: 15vw;
}

.Scholarship {
    position: relative;
    width: 25vw;
    /* Allow the image to resize based on parent */
    height: auto;
   
    /* Apply movement */
}

.QuantumComputing {
    height: 100%;
    width: 80%;
}

.Ideation {
    height: 30%;
    width: auto;

}

.DesignCon {
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
}


.week3div {
    display: flex;
    flex-direction: row;
    margin-top: calc(215*16/9)vh;
    margin-left: 5%;
    width: 80vw;
}



.title-container {
    position: absolute;
    top: 2vh;
    left: 0;
    padding: 5rem;
    
}


.title {
    font-size: 5vw;
    background: linear-gradient(to right, #00c3cc, #4047eb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "League Spartan";
    font-size: 5vw;
}

.sh-container {
    position: absolute;
    top: 25vh;
    left: 5vw;
}

.subheading {
    font-family: "Poppins";
    font-style: italic;
    font-size: .95rem;
    color: rgb(255, 255, 255);
    font-weight: 50;
}

.p-1-container {
    position: absolute;
    width: 50vw;
    left: 3vw;
    top: 25vh;
    
}

.p-1 {
    padding: 2rem;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
    font-size: 1.1vw;
}


.p-2 {
    padding-left: 2rem;
    padding-top: 1rem;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
    font-size: 1.1vw;
}


.navbar>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar>ul>li {
    display: inline-block;
    margin-right: 10vw;
    font-weight: bold;
    font-family: 'Poppins';
}

.navbar-container {

    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    left: 22vw;
    position: absolute;
    top: 4vh;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.title2-container {
    position: absolute;
    top: 80vh;
    left: 0;
    padding: 5rem;
}

.title-2 {
    font-size: 3rem;
    background: linear-gradient(to right, rgb(96, 29, 151), rgb(105, 10, 214));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "League Spartan";
}


.Week1 {
    position: absolute;
    left: 5vw;
    top: 95vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
    
}

.Week1-Time {
    position: absolute;
    left: 5vw;
    top: 100vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}


.Week1-Container {
    position: absolute;
    width: 50vw;
    left: 5vw;
    top: 107vh;
}

.Week1p {
    font-family: "Lato";
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
    font-size: 1.1vw;
}

.Week2 {
    position: absolute;
    right: 5vw;
    top: 170vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.Week2-Time {
    position: absolute;
    right: 5vw;
    top: 175vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.Week2-Container {
    position: absolute;
    width: 50vw;
    right: 5vw;
    top: 182vh;
}

.Week2p {
    font-family: "Poppins";
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
    font-size: 1.1vw;
}

.Week3 {
    position: absolute;
    left: 5vw;
    top: 240vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.Week3-Time {
    position: absolute;
    left: 5vw;
    top: 245vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.Week3-Container {
    position: absolute;
    width: 80vw;
    left: 5vw;
    top: 252vh;
}

.Week3p {
    font-family: "Poppins";
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
    font-size: 1.1vw;
}

.Week4 {
    position: absolute;
    right: 5vw;
    top: 325vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.Week4-Time {
    position: absolute;
    right: 5vw;
    top: 330vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.Week4-Container {
    position: absolute;
    width: 50vw;
    right: 5vw;
    top: 337vh;
}

.Week4p {
    font-family: "Poppins";
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
    font-size: 1.1vw;
}

.MarketCon {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
}

.Market {
    position: absolute;
    width: 25vw;
    /* Allow the image to resize based on parent */

    height: auto;
    transform: translate(7vw, 333vh);
    /* Apply movement */
}

.PitchCon {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
}

.Pitch {
    position: absolute;
    width: 25vw;
    /* Allow the image to resize based on parent */

    height: auto;
    transform: translate(7vw, 370vh);
    /* Apply movement */
}

.Week5 {
    position: absolute;
    left: 5vw;
    top: 405vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.Week5-Time {
    position: absolute;
    left: 5vw;
    top: 410vh;
    font-size: 1.5rem;
    white-space: nowrap;
    /* Prevents text wrapping */
    overflow: hidden;
    /* Ensures content doesn't overflow visibly */
    text-overflow: ellipsis;
    /* Adds ellipsis if text overflows the container */
    font-family: "Poppins";
}

.Week5-Container {
    position: absolute;
    width: 50vw;
    left: 5vw;
    top: 417vh;
}


.Week5p {
    font-family: "Poppins";
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
    font-size: 1.1vw;
}

.TeamCon {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
}

.Team {
    position: absolute;
    width: 25vw;
    /* Allow the image to resize based on parent */

    height: auto;
    transform: translate(65vw, 420vh);
    /* Apply movement */
}

.Theme-Container {
    position: absolute;
    left: 8vw;
    top: 450vh;
    width: 90vw;
}

.Theme {
    font-size: 1.6rem;
    background: linear-gradient(to right, #00c3cc, #4047eb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "League Spartan";
}

.Week5-Container2 {
    position: absolute;
    width: 50vw;
    left: 5vw;
    top: 470vh;
}

.Week5p2 {
    font-family: "Poppins";
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
    font-size: 1.1vw;
}

.MoonCon {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
}

.Moon {
    position: absolute;
    width: 25vw;
    /* Allow the image to resize based on parent */

    height: auto;
    transform: translate(65vw, 475vh);
    /* Apply movement */
}

.RocketTalks {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
    margin-top: 515vh;
    margin-left: 130vw;
}

.Rocket {
    position: absolute;
    width: 30vw;
    /* Allow the image to resize based on parent */

    height: auto;
    
    /* Apply movement */
}

