.team-page {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Start from the top */
    align-items: center;
    min-height: 100vh;
    /* Ensures at least the viewport height */
    width: 100vw;
    overflow-y: auto;
    /* Enables vertical scrolling */
    position: relative;
}


.title-container {
    position: absolute;
    top: 2vh;
    left: 0;
    padding: 5rem;
}

.title {
    font-size: 5rem;
    background: linear-gradient(to right, #00c3cc, #4047eb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "League Spartan";
}

 

.Name {
    font-family: "Poppins";
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
}

.namecontainer {
    position:absolute;
    margin-top: 25vh;
    margin-left: -30vw;
}

.Picture {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
}

.Pic{
    position: absolute;
    width: 25vw;
    /* Allow the image to resize based on parent */
    height: auto;
    margin-top: 30vh;
    margin-left: 20vw;
    /* Apply movement */
}

.jeevancontainer {
    font-family: "Poppins";
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
}

.jeevan {
    position:absolute;
    top: 25vh;
    left: 64vw;
}

.JeevanPic {
    position: absolute;
    overflow: visible;
    width: 100%;
    /* Allow flexibility */
    height: auto;
}

.Jeevan{
    position: absolute;
    width: 23vw;
    /* Allow the image to resize based on parent */

    height: auto;
    margin-top: 30vh;
    margin-left: 55vw;
    /* Apply movement */
}

.p-1-container {
    position: absolute;
    width: 70%;
    left: 17vw;
    top: 80vh;
}

.p-1 {
    padding: 2rem;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.76em;
    font-family: "Poppins";
}

